[Unit]
Description=Update NPTv6 Prefix Mapping
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=bash -c '/etc/systemd/system/update-npt6.bash'
RemainAfterExit=no
